<li class="list-group-item">
  <div>
    <label class="lead mb-2">{{ beer.beerName }}</label>
  </div>
  <br />
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">BeerName</th>
          <th scope="col">Style</th>
          <th scope="col">UPC</th>
          <th scope="col">Price</th>
          <th scope="col">Last Modified</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active">
          <td>{{ beer.beerName }}</td>
          <td>{{ beer.beerStyle }}</td>
          <td>{{ beer.upc }}</td>
          <td>${{ beer.price }}</td>
          <td>{{ beer.lastModifiedDate | date }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-danger btn-sm" (click)="onDelete(beer)">
      Delete
    </button>
    <button class="btn btn-warning btn-sm d-flex mt-3" routerLink="detail">
      Dettagli Birra
    </button>
  </div>
</li>
